$butter-slide-toggle-duration: 500ms !default;
$butter-slide-toggle-delay: 0ms !default;
$butter-slide-toggle-timing-function: ease !default;

.butter-slide-toggle-transition {
  transition: max-height #{$butter-slide-toggle-duration} #{$butter-slide-toggle-timing-function} #{$butter-slide-toggle-delay};
}

.butter-slide-wrap {
  &[aria-hidden="true"] {
    transition: max-height #{$butter-slide-toggle-duration} #{$butter-slide-toggle-timing-function} #{$butter-slide-toggle-delay},
      visibility 0s linear #{$butter-slide-toggle-duration};
  }
}
